body {
    width: 700px;
    margin: 0 auto;
  }
  
p {
    color:#FF44AA;
    background: 	#000000;
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
span {
    background: white;
    border: 1px solid black;
  }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
a:link{
    color:	#0000FF;
    text-decoration:none ;
}
