body {
    width: 700px;
    margin: 0 auto;
  }
  
p {
    color:rgba(15, 19, 54, 0.3);
    background: rgba(255,84,104,0.3);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
span {
    background: white;
    border: 1px solid black;
  }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
a:link{
    color:white;
    text-decoration:none ;
}
