body {
    width: 700px;
    margin: 0 auto;
  }
h1{
    color:rgb(84, 255, 255);
    background: 	#000000;
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
}  
h2{
    color:rgb(84, 255, 255);
    background: 	#000000;
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
}
p {
    color:#ff44d0;
    background: 	#ebc0c0;
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
span {
    background: white;
    border: 1px solid black;
  }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
a:link{
    color:	#0000FF;
    text-decoration:none ;
}
a:visited{
    color:aquamarine;
}
a:hover{
    color:chartreuse;
    text-shadow: coral;
}
#main{
    background-color: black;
    color: blueviolet;
    box-sizing: content-box;
    width: 600px;
    height: 300px;
}